/*-- scss:defaults --*/
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

// Colors
$teal: #006D77;
$blue: #BFDBF7;
$white: #F7F9FA;
$tan: #DCBF9F;
$dark-blue: #0B3954;

// Base document colors
$navbar-bg: $blue; // navbar
$navbar-fg: $teal; // navbar foreground elements
$navbar-hl: $tan; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $teal; // page text 
$footer-bg: $blue; // footer 
$link-color: $dark-blue; // hyperlinks

// Inline code
$code-bg: $blue; // inline code background color
$code-color: $dark-blue; // inline code text color

/*-- scss:rules --*/
h1, h3 {
  letter-spacing: 3px;
  font-weight: 700;
  color: $teal;
}

/* CLASS SELECTORS (self-defined) */

.custom-subtitle {
  font-size: 22px;
  margin-bottom: 0.15em;
}

.custom-subtitle2 {
  font-size: 20px;
  font-style: italic;
}

.topbr {
    display: block;
    margin-top: 1em;
}